/* body{
    background-color: pink;
} */

/* navbar */
body{
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
     flex: 1;    /*This makes the container take up the remaining space and footer gets embedded at bottom */
}
.navbar{
    height:5 rem;
    background-color: #fff;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
/*footer */
.f-info-links a{
    color: #222222;
    font-size: 1.2rem;
    text-decoration: none;
}
.f-info-links, .f-info-socials, .f-info-brand{
       width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials i{
    margin-right: 2rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
}

/*Cards*/
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
/*card effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn, .edit-btn{
    background-color:#fe424d !important;
    border: none !important;
}
/*Show Page*/
.show-img{
    height:30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding: 0 !important;
}